<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bestselling OSR modules on DriveThruRPG</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="bestsellers.js"></script>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
</head>
<body>
<div id="app">
    <div class="controls">
        <fieldset>
            <input id="eras-osr" type="checkbox" v-model="eras" value="OSR"/>
            <label for="eras-osr">OSR</label>
            <input id="eras-classic" type="checkbox" v-model="eras" value="Classic"/>
            <label for="eras-classic"> Classic TSR</label>
        </fieldset>
        <fieldset>
            <div class="tags">
                <div v-for="state in tagStates"
                     class="tag-section"
                     @dragover.prevent
                     @dragenter.prevent
                     @drop="onDrop($event, state)">
                    <div class="tag-header">
                        {{ state.name }}
                    </div>
                    <div class="tag-list">
                        <span v-for="system in ruleSystemsWithState(state)"
                              draggable="true"
                              @dragstart="startDrag($event, system)"
                              class="tag">
                            {{ system.name }}
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div>{{ totalProducts }} products (with current filters)</div>

    <div v-for="group in filteredGroups" class="product-group">
        <div class="rank">{{ group.rank }}</div>
        <div>{{ totalForRank(group.rank) }} products (with current filters)</div>
        <div class="products">
            <div v-for="product in group.products" class="product">
                <a :href="toProductUrl(product)">
                    <div class="thumbnail">
                        <img :src="toImageUrl(product)"/>
                    </div>
                    <div class="title">
                        {{ product.name }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="module">
    import { createApp } from 'vue'
    import { App } from './app.js'
    createApp(App).mount('#app')
</script>
</body>
</html>