@font-face {
  font-family: "Normal";
  src: url("AlteHaasGroteskRegular.ttf");
}

@font-face {
  font-family: "Title";
  src: url("Mont-Heavy.otf");
}

body {
    --main-bg-color: rgb(6, 65, 0);
    font-family: Normal;
    background: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: rgb(110, 50, 110);
}

header {
    background: url(images/perforated_white_leather.webp) var(--main-bg-color);
    background-blend-mode: multiply;
    color: white;
    padding: 10px;
    font-family: Secondary, sans-serif;
    font-weight: bold;
}

.page-title {
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    font-family: Title, Arial
}

.page-author {
    text-align: center;
    margin-top: 10px;
}
.page-author a {
    color: #5593ba;
}

.timestamp {
    text-align: right;
}

.summary {
    padding: 10px;
}

.explanation {
    padding: 10px;
}

.product-group {
    margin: 20px 0;
}
.rank {
    font-weight: bold;
    font-size: 24pt;
    padding: 10px;
    color: White;
    margin-bottom: 10px;
    background: var(--main-bg-color);
}
.product-contents {
    padding: 10px;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.products .product {
    margin: 10px;
    text-align: center;
}

.products .product .thumbnail {
    width: 100%;
    aspect-ratio: 2/3;
    background: transparent;
}

.products .product .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 3px rgb(127,127,127);
}

.products .product .title {
    padding: 10px 5px;
}

@media (max-width: 500px) {
    .products .product {
        width: calc(50% - 20px);
    }
}
@media (min-width: 500px) and (max-width: 700px) {
    .products .product {
        width: calc(33% - 20px);
    }
}
@media (min-width: 700px) {
    .products .product {
        width: calc(25% - 20px);
    }
}
@media (min-width: 900px) {
    .products .product {
        width: 200px;
    }
}

fieldset {
    margin: 0;
    padding: 5px;
    background: var(--main-bg-color);
    color: white;
    border: none;
}

fieldset label {
    margin-right: 30px;
}

.tag-section + .tag-section {
    border-left: solid 1px white;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.note {
    font-size: smaller;
    padding: 5px;
}
.tag {
    display: flex;
    position: relative;
    margin: 5px;
    background: white;
    color: black;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.tag-name {
    padding: 5px 15px;
}
.tag:hover {
    z-index: +1;
    box-shadow: 0px 0px 3px white;
}
.tag .tag-negative, .tag .tag-positive {
    width: 25px;
    height: 100%;
    color: white;
    font-size: 16pt;

}
.tag .tag-negative {
    background-color: red;
}
.tag .tag-positive {
    background-color: green;
}

.control-word {
    box-sizing: border-box;
    display: inline-block;
    background-color: White;
    color: Black;
    padding: 8px;
    cursor: pointer;
    border: 2px solid Black;
    white-space: nowrap;
}

.v-enter-active {
    transition: all 0.3s ease-out;
}

.v-enter-from {
  transform: translateY(-100px);
  opacity: 0;
}