@font-face {
  font-family: "Normal";
  src: url("Alegreya.ttf");
}

body {
    font-family: Normal;
    background: url("images/bg.png");
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: rgb(110, 50, 110);
}

.product-group {
    margin: 30px 0;
}
.rank {
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 10px;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.products .product {
    width: 200px;
    height: 315px;
    margin: 20px 10px;
    text-align: center;
}

.products .product .thumbnail {
    width: 100%;
    height: 260px;
    overflow: hidden;
    background: black;
    box-shadow: 5px 5px 3px rgb(127,127,127);
}

.products .product .thumbnail img {
    width: 100%;
}

.products .product .title {
    padding: 10px 5px;
}

@media (width <= 500px) {
    body {
        margin: 0;
    }
    .product-group {
        margin: 30px 10px;
    }
    .products .product {
        width: 150px;
        height: 230px;
    }
    .products .product .thumbnail {
        height: 180px;
    }
}

.controls {
}

fieldset {
    margin: 20px 0;
    background: #5593ba;
    color: white;
    border: 2px solid white;
}

.tags {
    display: flex;
}

.tag-section + .tag-section {
    border-left: solid 1px white;
}
.tag-header {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}
.tag-list {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    position: relative;
    margin: 5px;
    padding: 5px 15px;
    background: white;
    color: black;
    cursor: move;
}
.tag:hover {
    z-index: +1;
    box-shadow: 5px 5px 5px black;
}
/*
.tag .move {
    cursor: pointer;
    display: none;
    position: absolute;
    top: -8px;
    bottom: 0px;
    width: 20px;
    font-size: 24pt;
    color: black;
    -webkit-text-stroke: 2px white;
}
.tag .move.left {
    left: -14px;
}
.tag .move.right {
    right: -8px;
}
.tag:focus .move {
    display: block;
}
*/